@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Nunito:wght@300;400;500;600&family=DM+Mono:wght@400;500&display=swap');

.main-item {
    background-color: rgb(248, 237, 211);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;

}


.contact-info {
    background-color: rgb(242, 242, 240);
}

.card-grid {
    display: flex;
    gap: 20px;
    margin: 3em auto;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    padding: 1em;
}


.event-info,
.event-title {
    display: flex;
    gap: 1em;
}

.event-date,
.event-location {
    font-family: DM Mono, monospace;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: gray;
    margin-bottom: 1em;

}

.event-title {
    font-family: Playfair Display, serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.25;
    color: oklch(0.269 0 0);
    margin-bottom: 1.25rem;
}


.font-change {
    font-style: italic;
    color: #C47B2A
}

.event-description {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625;
    color: gray;
    max-width: 24rem;
    margin-bottom: 1.5rem;
}

.left-side {
    padding: 2em;
}

.menu-button {
    font-family: Nunito, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #2A4027;
    color: #F7EDD3;
    transition: opacity 150ms;
}

.event-description p{
    margin-bottom: 2em;
}