@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Mea+Culpa&family=Monsieur+La+Doulaise&display=swap');


.nav-bar {
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-bottom: 0em;
    position: relative;
    justify-content: center;
    z-index: 10;
}



.links {
    right: 2em;
    position: absolute;
}

.links a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 1.4em;


}

.title {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 2em;
}

.title-link {
    text-decoration: none;
    color: black;
}

.box2 {
    background-color: rgb(242, 242, 240);
    height: 100px;
    margin-top: -40px;
    transform: scaleY(-1);
    -webkit-mask:
        radial-gradient(11.18em at 50% calc(100% - 15em), #000 99%, #0000 101%) calc(50% - 10em) 0/20em 100%,
        radial-gradient(11.18em at 50% calc(100% + 10em), #0000 99%, #000 101%) 50% calc(100% - 5em)/20em 100% repeat-x;
    mask:
        radial-gradient(11.18em at 50% calc(100% - 15em), #000 99%, #0000 101%) calc(50% - 10em) 0/20em 100%,
        radial-gradient(11.18em at 50% calc(100% + 10em), #0000 99%, #000 101%) 50% calc(100% - 5em)/20em 100% repeat-x;
}